.top-page-header {
  background-color: #00255e;
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  height: 90px;
  width: 240px;
}

.logo-pic {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 4px groove whitesmoke;
}

.account-status {
  padding-left: 8%;
  display: flex;
}

.account-1st {
  background-color: #ffffff;
  width: auto;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5vw;
}

.account-2nd {
  background-color: #ffffff;
  width: auto;
  border-radius: 50%;
  padding: 5px;
}


.skills-header {  
  background-color: #d43a3a;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skills-logo-pic {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: 4px groove whitesmoke;
  border-radius: 3px;
}

.reviews-header {
  background-color: #31cf31;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-logo-pic {
  width: 100%;
  height: 100%;
  background-color: #cbfab8;
  border: 4px groove #cbfab8;
  border-radius: 3px;
}