<header class="reviews-header">
  <div class="page-title">
      <%= link_to reviews_path do %>
        <%= image_tag asset_path("reviews_logo.png"), class:"reviews-logo-pic" %>
      <% end %>
  </div>
</header>