a {
  text-decoration: none;
}

.event-body {
  height: 100vh;
  width: 100vw;
  background-color: #d3d3d3;
}

.event-main {
  height: 700px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.left-side {
  width: 150px;
  height: 500px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-day {
  display: flex;
  justify-content: center;
} 

.index-btn {
  background-color: #97d6fa;
  width: 100px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.match-review {
  display: flex;
  justify-content: center;
}

.strategy-dictionary {
  display: flex;
  justify-content: center;
}


.main-calendar {
  width: 60vw;
  max-width: 1000px;
}

.calendar-head {
  background-color: #ffffff;
  width: 100%;
  height: 30px;
  border: 3px solid #ffffff;
}

.this-month {
  margin: 0 70px;
}

.right-side {
  /* background-color: #97d6fa; */
  width: 50px;
}

.day_title_name {
  text-align: center;
}
.day_meeting_time {
  text-align: right;
  font-size: 14px;
}