.skills-body {
  background-color: #dfdfdf;
  height: calc( 100% - 300px );
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.skills-main {  
  background-color: #f7f7f7;
  padding: 20px;
  height: 800px;
  width: 60vw;
  border: 3px groove ;
  border-radius: 4px;
}

.new-list {
  height: 60%;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: #dfdfdf;
  border: 3px inset ;
}

.new-list-title {
  border-bottom: 2px double #747474;
}

.skill-item {
  background-color: #f7f7f7;
  font-size: 15px;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 4px;
}