.skills-body {
  background-color: #dfdfdf;
  height: calc( 100% - 300px );
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.skills-main {  
  background-color: #f7f7f7;
  padding: 20px;
  height: 1000px;
  width: 70%;
  max-width: 600px;
  border: 3px groove ;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-skill-title {
  font-size: 16px;
  text-align: center;
  padding: 4px 0 ;
  border: 4px ridge #c7c7c7;
  border-radius: 4px;
}


.search-skill-main {
  width: 420px;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.search-skill-form {
  background-color: #e7e7e7;
}

.skill-form {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.search-input {
  width: 250px;
  padding-left: 5px;
}

.search-select {
  width: 150px;
}


.search-form-btn {
  width: 100%;
  text-align: center;
}

.search-btn {
  width: 30%;
  margin-bottom: 20px;
}

.skill-index-btn {
  background-color: #ececec;
  width: 96px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 7px groove #ff1818a6;
}

.new-list {
  height: 60%;
  max-height: 550px;
  width: 420px;
  align-items: center;
  background-color: #dfdfdf;
  border: 3px inset #d6d6d6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-list-title {
  width: 100%;
  border-bottom: 2px double #747474;
  text-align: center;
  padding: 4px 0 ;
}

.new-list-main {
  height: 100%;
  width: 90%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.skill-item {
  background-color: #f7f7f7;
  font-size: 18px;
  margin: 2px 5px;
  padding: 2px 10px 2px 20px;
  border-radius: 4px;
}