.search-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.skills-search-main {  
  background-color: #f7f7f7;
  padding: 20px;
  height: 1000px;
  width: 70%;
  max-width: 600px;
  border: 3px groove ;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.skills-search-body {
  height: 80%;
  padding-left: 20px;
}

.skills-search-result {
  list-style: none;
  margin-top: 10px;
}
