.simple-calendar {background-color: #ffffff;
  .day {
    font-size: 16px;
    background-color: #ffffff;
  }

  .wday-0 {
    background-color: #fa7b7b;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: #6accfa;
  }

  .today {background-color: rgba(255, 255, 0, 0.5);}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: rgb(155, 155, 155);
  }
  .next-month {
    background-color: rgb(155, 155, 155);}
  .current-month {}

  .has-events {}
  .calendar-title {
    font-size: 24px;
  }
}