<div>
  <% @reviews.each do |review| %>

      <%= link_to review_path(review.id) ,method: :get do%>
      <%= review.match_genre.name %>  vs<%= review.opponent_team%>
      <% end %>

  <% end %>
</div>

<%= link_to 'もどる', root_path%>
