.account-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 900px;
  width: 100vw;
}
.signup-title {
  margin: 10px;
  font-weight: bold;
  font-size: 22px;
}

.signup-main {
  background-color: #97d6fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  min-height: 860px;
  width: 50vw;
  max-width: 550px;
  padding: 30px 5vw;
  border-radius: 4px;
}

.signup-form {
  width: 80%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.field {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}


.side-field {
  width: 40px;
}

.main-field {
  width: 60%;
}

.signup-form{
  height: 32px;
}

.signup-select {
  height: 32px;
}

.send-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200px; */
}

.google-account {
  border: #4285f4 solid 1px;
  height: 40px;
}

.google-signup {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 4px;
  padding: 0 5px;
}

.google-logo {
  height: 24px;
  width: 24px;
  vertical-align: -20%;
}

.google-comment {
  font-size: 20px;
}